.paint__canvas {
    outline: 1px solid darkolivegreen;
    cursor: crosshair;
}

.paint__col {
    outline: 1px solid salmon;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paint__row {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 3rem;
}